# Archive (unused files)
**/archive/

# Quarto intermediate files
*.quarto_ipynb
*.quarto_ipynb_*

# Python virtual environments
.venv/
venv/
__pycache__/

# OS files
.DS_Store

/.quarto/
**/*.quarto_ipynb
